[contenteditable]:focus {
    outline: 0px solid transparent;
}

.terminal {
	margin: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	color: #f0f0f0;
}

.terminal-command-query {
	float: left;
	width: 100%;
}

.terminal-command-prompt {
	margin-left: 7px;
	background-color: inherit;
	outline: none;
	border: none;
	color: inherit;
	font: inherit;
	padding: 0px;
	width: calc(100% - 178px);
}	

.terminal-query-output {
	white-space: pre;
	overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
}

.white {
	color: #f0f0f0;
}
.red {
	color: #f04040;
}
.orange {
	color: #f08040;
}
.green {
	color: #8AE234;
}
.blue {
	color: cyan;
}