@import url('https://fonts.googleapis.com/css?family=VT323');

.window {
    font-family: 'VT323';
    font-size: 15pt;

	background-color: #222222;
	position: fixed;
	border: 1px solid transparent;
	border-radius: 2px;

	min-width: 300px;
	width: 70%;
	max-width: 700px;

	min-height: 300px;
	height: 70%;
	max-width: 700px;
}

.window-bar {
	background-color: #3b3b3b;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: calc(100% - 30px);
	height: calc(15pt);
	padding: 10px 15px;
	color: cyan;

	-webkit-user-select: none;  /* Chrome 49+ */
	-moz-user-select: none;     /* Firefox 43+ */
	-ms-user-select: none;      /* No support yet */
	user-select: none;
}

.window-bar-dots {
	float: left;
	height: 100%;
	padding-top: 6px;
}

.window-bar-dot {
	float: left;
	margin-right: 5px;
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;

	opacity: 1;
	transition: .1s;
}

.window-bar-dots:hover .window-bar-dot {
	opacity: .8;
}

.window-bar-text {
	float: left;
	width: calc(100% - 75px);
	height: 20px;
	margin-left: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.window-content {
	height: calc(100% - 40px);
	border: 1px solid #3b3b3b;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}